
<footer class="page-footer blue-grey darken-4">
  <!--<div class="container">
    <div class="row">
      
      <div class="col l offset-l s1">
        <ul>
          <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
          <li><a class="grey-text text-lighten-3" href="/login">Login</a></li>
          <li><a class="grey-text text-lighten-3" href="#">About</a></li>
          <li><a class="grey-text text-lighten-3" href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>-->
  
  <div class="footer-copyright">
    <div class="container">
    © 2019 Copyright FoodFond
    <a class="grey-text text-lighten-4 right" href="#!"></a>
    </div>
  </div>
</footer>

